@import url("https://fonts.googleapis.com/css2?family=Kunstler+Script&display=swap");

body {
  font-family: "Kunstler Script", cursive;
  margin: 0;
  padding: 0;
  background: url("https://i.etsystatic.com/18965517/r/il/91e1d2/3642966670/il_fullxfull.3642966670_c485.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  margin-bottom: 1px;
  box-shadow: 7px 5px 5px 10px rgb(255, 255, 255);
}

h2 {
  color: #000000;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  padding: 10px;
  padding-top: 0%;
  border: solid 1px black;
  border-radius: 10px;
  width: 307px;
  text-align: center;
  display: inline-table;
  margin: 50px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  border: black 1px solid;
  border-radius: 6px;
  margin-bottom: 5px;
  color: black;
}

.input-group input {
  width: calc(100% - 22px);
  padding: 10px;
  border: white 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
}

.password-container {
  position: relative;
}

.password-container button {
  position: absolute;
  right: 6px;
  top: 51%;
  transform: translateY(-50%);
  background: none;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  color: #000000;
  padding: 5px;
  font-size: 12px;
  width: 50px;
  height: 30px;
}

button {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  background-color: #003366;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: initial;
}

button:hover {
  background-color: #fbb214ba;
}

#message {
  margin-top: 10px;
  font-size: 14px;
  color: #ff0000;
}
