# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Production
build/
dist/

# Misc
.DS_Store
.env

# Ignore the client and server specific node_modules
client/node_modules/
server/node_modules/

# Ignore build output in client
client/build/
client/dist/

# Ignore database config
server/config/database.js